html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

form h4 {
    color: #fff;
}

form div {
    margin-bottom: 20px;
}

form p {
    color: #fff;
    margin: 0;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: rgba(12,21,31,1)
}

form .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form button[type="submit"],
form button[type="reset"],
.create-button a {
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #03e9f4;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

form button[type="submit"]:hover,
form button[type="reset"]:hover,
.create-button a:hover {
    background: #03e9f4;
    color: #fff;
}

form button[type="submit"]::before,
form button[type="reset"]::before,
.create-button a::before {
    content: "";
    position: absolute;
    display: block;
}

form button[type="submit"]::before,
.create-button a::before {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

form button[type="reset"]::before,
.create-button a::before {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
    
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.create-button {
    margin-left: 10px;
}
