
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Edit</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link th:href="@{/styles/cssandjs/addcss.css}" rel="stylesheet" />

</head>

<body>

    <!-- <h1>CodeVN</h1> -->
    
    <form th:action="@{/edit}" th:method="post" th:object="${product}" >
        <h2>Edit</h2>
        <h4 th:test="${message}"></h4>
        <div style="display: none;">
            <p>Input ID Product :</p>
            <input type="text" th:field="*{idProduct}" th:value="${product.idProduct}">
        </div>
        <div>
            <p>Input Name Product :</p>
            <input type="text" th:field="*{nameProduct}" th:value="${product.nameProduct}">
        </div>
        <div>
            <p>Input Price Product :</p>
            <input type="number" th:field="*{priceProduct}" th:value="${product.priceProduct}">
        </div>
        <div>
            <p>Input Type Product :</p>
            <select name="idTypeProduct" >
                <option selected th:text="${product.typeProduct.getNameTypeProduct()}" th:value="${product.typeProduct.getIdTypeProduct()}"></option>
                <option th:each="typeProduct : ${typeProductsList}" th:text="${typeProduct.nameTypeProduct}" th:value="${typeProduct.idTypeProduct}"></option>
            </select>
        </div>
        <div>
            <button type="submit">submit</button> 
            <button type="reset">reset</button>
            <button type="submit" >
                <a th:href="@{/}">back </a>
            </button>
        </div>
       
       
    </form>
   
    
</body>
</html>